
@{
    ViewBag.Title = "Index";
}

<h2>Manager Details</h2>
<div style="float:right">
    <input type="button" class="btn btn-primary book-btn" value="b1" onclick="@("window.location.href='" + @Url.Action("Action", "Controller") + "'");" />
    <input type="button" class="btn btn-primary book-btn" value="b2" onclick="@("window.location.href='" + @Url.Action("Action", "Controller") + "'");" />
    <input type="button" class="btn btn-primary book-btn" value="b3" onclick="@("window.location.href='" + @Url.Action("Action", "Controller") + "'");" />
</div>
